.talk-btn {
  background-color: #4F4F4F;
  border-radius: 4px;
  color: white;
}

.talk-btn:hover {
  background-color: hsl(0, 0%, 22%);
  color: white;
}

.so {
  justify-content: center;
}

.pxx {
  padding-left: 2rem;
  padding-right: 2rem;
}

body {
  height: 70px;
}

.nav-up {
  top: -40px;
}
.navactive{
    height: 4rem;
    width: 100%;
    position: fixed;
    top: 0px;
    transition: 0.3s linear;
    display: flex;
    justify-content:stretch;
    align-items: center;
    background-color: #FFFFFF;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    z-index: 40;
    box-shadow: 0 2px 5px -1px rgba(0, 0, 0, .08);
}
.navhidden{
    height: 4rem;
    width: 100%;
    z-index: 40;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    box-shadow: 0 2px 5px -1px rgba(0, 0, 0, .08);
    position: fixed;
    top: -80px;
    transition: 0.3s linear;

}
.fixed {
  position: fixed;
  top: 0;
  transition: top 0.2s ease-in-out;
  left: 0;
  right: 0;
  height: 70px;
  background: white;
  z-index: 10;
}

.mobile-view {
  z-index: 10;
  background: white;
  height: 100vh;
}

.nav-list {
  justify-content: space-around;
  width: 90%;
  padding-left: 750px;
}

.pl {
  padding-left: 24px;
}

.nav-list li a {
  font-size: 18px;
  color: black;
}

.nav-list li a:hover,
.footer a:hover {
  color: #4F4F4F !important;
}

.mobile-view {
  position: absolute;
  right: 0;
  top: 70px;
  width: 50%;
}

.mobile-view ul li {
  font-size: 1.4rem;
  font-weight: 600;
  color: black;
}

.showMe {
  display: none;
}

@media (max-width: 1286px) {
    .nav-list {
        width: 80%;
        padding-left: 270px;
    }
}

@media (min-width: 768px) {
  .mobile-view {
    width: 23%;
  }
}

@media (min-width: 576px) {
  .mobile-view {
    width: 32%;
    margin-top: -10px;
  }
  .img-mobile img {
    width: 100%;
    padding-left: 3rem;
  }
}

@media (max-width: 576px) {
  .img-mobile img {
    width: 100%;
    padding-left: 0.8rem;
  }
  .logo img {
    width: 90%;
  }
  .showMe {
    display: block;
    width: 80%;
  }
  .showMe img {
    width: 60%;
  }
  .hideMe {
    display: none;
  }
}

@media (max-width: 348px) {
  .pxx {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .img-mobile img {
    padding-left: 1rem;
  }
}
